.linkedBack{
    background: goldenrod;
    color: #fff;
    border-radius: 10px 0 10px 0;
}

.linkedBack:hover{
    background: goldenrod;
    color: #000;
    border-radius: 0;
    transition: .4s;
}

.space{
    margin-top: 10px;
}

.imgCard{
    border-style: groove;
}

.imgCard:hover{
    border-color: brown;
}

.cardHP{
    border-color: green;
}

.cardAttack{
    border-color: red;
}

.cardAttackSpc{
    border-color: darkred;
}

.cardDefense{
    border-color: blue;
}

.cardDefenseSpc{
    border-color: darkblue;
}

.cardSpeed{
    border-color: darkorange;
}

.bagdeType{
    background-color: green;
}

.liGroup{
    border-style: none;
    padding: 0px;
    margin-left: 5px;
}